.center-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.form{
  background-color:seashell; 
  padding-bottom: 20px; 
  border-radius: 10px;
}