<div class="card bg-light mb-3">
  <div class="card-header">
    <h4>Title:</h4>
    <input
      type="text"
      class="form-control"
      [disabled]="!update"
      [(ngModel)]="post.title"
    />
  </div>
  <div class="card-body">
    <h4>Body:</h4>
    <textarea
      class="form-control"
      [disabled]="!update"
      [(ngModel)]="post.body"
      style="height: 150px"
    ></textarea>
  </div>
</div>
<br>
<button *ngIf="update" (click)="updatePost()" class="btn btn-success">Save Chages</button>

<hr />
