<div class="card bg-light mb-3">
  <div class="card-header">
    <h4>Title:</h4>
    <input
      type="text"
      class="form-control"
      [disabled]="!update"
      [(ngModel)]="post.title"
      style="cursor: auto;"
    />
  </div>
  <div class="card-body">
    <h4>Body:</h4>
    <textarea rows="5"
      class="form-control"
      [disabled]="!update"
      [(ngModel)]="post.body"
      style="cursor: auto;"
    ></textarea>
  </div>
</div>
<br>
<div class="text-right">
  <button *ngIf="update" (click)="updatePost()" class="btn btn-success">Save Chages</button>
</div>

