<div class="text-right">
  <a class="btn btn-primary" routerLink="/user" style="margin: 0 10px 10px 0;">New User</a>
</div>

<table class="table table-bordered table-striped table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Full Name</th>
      <th scope="col">Email</th>
      <th scope="col">Phone</th>
      <th colspan="2">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users">
      <td>
        <p> {{ user.id }} </p>
      </td>
      <td>
        <p> {{ user.name }}</p>
      </td>
      <td>
        <p> {{ user.email }}</p>
      </td>
      <td>
        <p> {{ user.phone }}</p>
      </td>
      <td class="text-center"><button (click)="populateForm(user.id)" class="btn btn-sm btn-primary" routerLink="/user/{{user.id}}">Edit</button></td>
      <td class="text-center"><button (click)="deleteUserById(user.id)" class="btn btn-sm btn-danger">Delete</button>
      </td>
    </tr>
  </tbody>
</table>